/* 배경 */
.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 내용 컨테이너 */
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* 소개 텍스트 */
.introduce-text {
  font-size: 40px;
  color: #533505;
  text-align: center;
}

/* 로고 이미지 */
.logo {
  width: 218px;
  height: 271px;
}

/* 로고 텍스트 */
.logo-text {
  font-size: 60px;
  color: #533505;
}
/* 시작 버튼 */
.start-button {
  width: 240px;
  height: 50px;
  background-color: #ffd574;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 30px;
  color: #533505;
  cursor: pointer;
  margin-top: 20px;
}

/* 시작 버튼 호버 */
.start-button:hover {
  background-color: #ffcc5c;
}
