.background {
  width: 100vw;
  height: 100vh;
  background-color: #fffcf8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.introduce-text {
  font-size: 40px;
  color: #533505;
  text-align: center;
}

.logo {
  width: 218px;
  height: 271px;
}

.logo-text {
  font-size: 60px;
  color: #533505;
}
.start-button {
  width: 240px;
  height: 50px;
  background-color: #ffd574;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 30px;
  color: #533505;
  cursor: pointer;
  margin-top: 20px;
}

.start-button:hover {
  background-color: #ffcc5c;
}
