/* 로고 텍스트 */
.logo-text {
  font-size: 60px;
  color: #533505;
}

/* 메뉴 스타일 */
.menu{
  font-size: 30px;
  color: #533505;
  background-color: #ffd574;
  padding: 10px;
  margin-left: 10px;
  border-radius: 10px;
}

/* 헤더 컨테이너 */
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
}

/* 메뉴 호버 효과 */
.menu:hover {
    background-color: #ffcc5c;
}