.diary-content {
  width: 80%;
  height: fit-content;
  border: 3px solid #ffca4f;
  border-radius: 20px;
  min-height: 160px;
  margin-bottom: 10px;
  padding: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.content-text {
  font-size: 24px;
}

.emotion-img-size {
  width: 120px;
  height: auto;
}
